@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.jasonbanner {
    position: relative;
    width: 80%;
    max-width: 50rem;
    padding: 0;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;

    // all boxes
    > * {
        width: 100%;
    }

    // default: only first box visible
    > :nth-child(2),
    > :nth-child(3),
    > :nth-child(4) {
        display: none;
    }

    @include breakpoint($breakpoint-mobile) {
        > * {
            width: 48%;
        }

        > :nth-child(2) {
            display: block;
        }
    }

    @include breakpoint($breakpoint-tablet) {
        > * {
            width: 30%;
        }

        > :nth-child(3) {
            display: block;
        }
    }

    @include breakpoint($breakpoint-desktop) {
        > * {
            width: 22%;
        }

        > :nth-child(4) {
            display: block;
        }
    }
}
