@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.jasonbanner {
    list-style: none;
    position: relative;
    width: 80%;
    max-width: 50rem;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__pic {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: $radius-card;
        box-shadow: $shadow-card;
        background: $colour-surface;
        border: 2px solid $colour-border;
        box-shadow: $shadow-card;
        position: relative;
        bottom: 0;

        @include breakpoint($breakpoint-mobile) {
            width: 48%;
        }

        @include breakpoint($breakpoint-tablet) {
            width: 30%;
        }

        @include breakpoint($breakpoint-desktop) {
            width: 22%;
        }

        &:nth-child(2) {
            display: none;

            @include breakpoint($breakpoint-mobile) {
                display: block;
            }
        }
        &:nth-child(3) {
            display: none;

            @include breakpoint($breakpoint-tablet) {
                display: block;
            }
        }

        &:nth-child(4) {
            display: none;

            @include breakpoint($breakpoint-desktop) {
                display: block;
            }
        }
    }
}
