.jasonlist {
    list-style: none;
    position: relative;
    width: 80%;
    max-width: 50rem;
    height: 25vw;
    padding: 0;
    overflow: hidden;
    &__pic {
        height: 25vw;
        position: absolute;
        bottom: -0.5rem;

        &:nth-child(1) {
            z-index: 10;
            left: 2%;
            transform-origin: bottom center;
        }
        &:nth-child(2) {
            z-index: 9;
            left: 15%;
            transform-origin: bottom center;
        }
        &:nth-child(3) {
            z-index: 10;
            left: 25%;
            transform-origin: bottom center;
        }
        &:nth-child(4) {
            z-index: 9;
            right: 35%;
            transform-origin: bottom center;
        }
        &:nth-child(5) {
            z-index: 10;
            right: 17%;
            transform-origin: bottom center;
        }

        &:nth-child(6) {
            z-index: 11;
            right: 2%;
            transform-origin: bottom center;
        }
    }
}
