.jasonlist {
    list-style: none;
    position: relative;
    width: 80%;
    max-width: 50rem;
    height: 15rem;
    padding: 0;
    overflow: hidden;
    &__pic {
        height: 15rem;
        position: absolute;
        bottom: -0.5rem;

        &:nth-child(1) {
            z-index: 10;
            left: 2%;
        }
        &:nth-child(2) {
            z-index: 10;
            right: 2%;
        }

        &:nth-child(3) {
            z-index: 11;
            left: 20%;
        }
        &:nth-child(4) {
            z-index: 11;
            right: 20%;
        }

        &:nth-child(5) {
            z-index: 12;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
