@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.paragraphselector {
    width: 100%;
    padding: 1rem;

    @include tablet {
        width: 80%;
        margin: 0 auto;
    }

    &__form {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
            width: 50%;
            margin: 0 auto;
        }
    }
    &__label {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.9rem;
        @include tablet {
            font-size: 1.5rem;
        }
    }
    &__select {
        width: 50%;
    }

    &__button {
        width: 50%;
        border-radius: 0px;
        background: $accent-primary-dark;
        border: 0px;
        color: $surface-light;
    }
}
