@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.paragraphselector {
    width: 80%;
    padding: 1rem;
    background: $surface-light;
    max-width: 50rem;
    border-radius: 1rem 1rem 0 0;

    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;

        @include tablet {
            width: 50%;
            margin: 0 auto;
        }
    }
    &__label {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.9rem;
        text-align: center;
        @include tablet {
            font-size: 1.5rem;
        }
    }
    &__select {
        width: 50%;
    }

    &__button {
        width: 50%;
        border-radius: 0px;
        background: $accent-primary-dark;
        border: 0px;
        color: $surface-light;
    }
}
