@keyframes shake {
    0% {
        transform: translateX(-50%) rotate(0deg);
    }
    25% {
        transform: translateX(-50%) rotate(-2deg);
    }
    75% {
        transform: translateX(-50%) rotate(2deg);
    }
    100% {
        transform: translateX(-50%) rotate(0deg);
    }
}
