@use "./partials/mixins" as *;
@use "./partials/variables" as *;

* {
    box-sizing: border-box;
}

html {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background: $bg-gradient;
}

.siteWrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

a {
    color: navy;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
