@use "./partials/mixins" as *;
@use "./partials/animations" as *;
@use "./partials/variables" as *;

* {
    box-sizing: border-box;
}

html {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background: $bg-gradient;
}

.siteWrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.sitePanel {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 48rem;
    min-width: 18rem;
    background: $surface-light;
    border-radius: 1rem;
    overflow: hidden;
}
