@use "./partials/mixins" as *;
@use "./partials/animations" as *;
@use "./partials/variables" as *;

* {
    box-sizing: border-box;
}

html {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background: $site-main-bg;
}

.siteWrapper {
    width: 100%;
    height: 100vh;

    @include tablet {
    }

    @include desktop {
        padding: 0 auto;
    }
}

.siteheader {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0;
    padding: 0;

    &__top {
        height: 150px;
        padding: 1rem;
        background: $site-section-bg;
        border-radius: 0 0 1rem 1rem;

        @include tablet {
            width: 80%;
            margin: 0 auto;
        }
    }

    &__heading {
        color: #2d221b;
        text-transform: uppercase;
        font-size: 1.5rem;

        @include tablet {
            font-size: 2rem;
        }
    }

    &__text {
        font-size: 1rem;

        @include tablet {
            font-size: 1.5rem;
        }
    }

    &__jasonlist {
        list-style: none;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 35vw;
        padding: 0;
        overflow: hidden;
        object-position: bottom;
    }

    &__jasonpic {
        height: 35vw;
        position: relative;
        object-position: center;
        &--conan {
            z-index: 10;
            left: -15vw;
            bottom: -1rem;
            transform-origin: bottom right;
        }
        &--aquaman {
            z-index: 10;
            left: -20vw;
            bottom: -1rem;
            transform-origin: bottom center;
        }

        &--momoa {
            z-index: 35;
            left: -40vw;
            bottom: -1rem;
            transform-origin: bottom center;
        }
        &--drogo {
            z-index: 40;
            left: -60vw;
            bottom: -1rem;
            transform-origin: bottom center;
        }
        &--idaho {
            z-index: 45;
            left: -85vw;
            bottom: -1rem;
            transform-origin: bottom center;
        }
        &--voss {
            z-index: 50;
            left: -100vw;
            bottom: -1rem;
            transform-origin: bottom center;
        }
        &:hover {
            animation: shake 0.5s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }
}

.paragraphselector {
    width: 100%;

    background: #e3e2df;
    padding: 1rem;
    border-radius: 1rem 1rem 0rem 0rem;

    @include tablet {
        width: 80%;
        margin: 0 auto;
    }

    &__form {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        border: 1px solid red;
        @include tablet {
            width: 50%;
            margin: 0 auto;
        }
    }
    &__label {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.9rem;
        @include tablet {
            font-size: 1.5rem;
        }
    }
    &__select {
        width: 50%;
    }

    &__button {
        width: 50%;
        border-radius: 0px;
        background: darkblue;
        border: 0px;
        color: $site-button-text;
    }
}

.jasontext {
    background: #e3e2df;
    padding: 0 1rem 0;

    border-top: 1px solid darkblue;
    border-bottom: 1px solid darkblue;

    font-size: 1rem;
    @include tablet {
        width: 80%;
        margin: 0 auto;
        font-size: 1.5rem;
    }
}

.sitefooter {
    width: 100%;
    padding: 1rem;
    background: #e3e2df;

    @include tablet {
        width: 80%;
        margin: 0 auto;
    }
}
