@use "./partials/mixins" as *;
@use "./partials/animations" as *;
@use "./partials/variables" as *;

* {
    box-sizing: border-box;
}

html {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background: $site-main-bg;
}

.siteWrapper {
    width: 100%;
    min-height: 100vh;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
}

.sitePanel {
    width: 100%;
    max-width: 64rem;
    background: $site-section-bg;
    border-radius: 1rem;
    overflow: hidden;

    @include tablet {
        padding: 0 1rem;
    }

    @include desktop {
        padding: 0 2rem;
    }
}
