@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;500;600&display=swap");

* {
    box-sizing: border-box;
}

html {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    font-family: $font-body;
}

body {
    margin: 0;
    background: $gradient-dark;
    color: $colour-fg;
    font-family: $font-body;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: $colour-accent;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.siteWrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0;
}
