@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.jasontext {
    padding: 0 1rem 0;

    border-top: 1px solid $accent-primary-dark;
    border-bottom: 1px solid $accent-primary-dark;

    font-size: 1rem;

    min-height: 20rem;

    @include tablet {
        width: 80%;
        margin: 0 auto;
        font-size: 1.5rem;
    }
}
