@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.jasontext {
    padding: 0 1rem 0;

    border-top: 1px solid $accent-primary-dark;
    border-bottom: 1px solid $accent-primary-dark;

    font-size: 1rem;
    max-width: 50rem;
    width: 80%;

    flex-grow: 1;

    background: $surface-light;

    @include tablet {
        font-size: 1.25rem;
    }
}
