@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/animations" as *;

.siteheader {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;

    &__top {
        height: 150px;
        padding: 1rem;

        @include tablet {
            width: 80%;
            margin: 0 auto;
        }
    }

    &__heading {
        color: #2d221b;
        text-transform: uppercase;
        font-size: 1.5rem;

        @include tablet {
            font-size: 2rem;
        }
    }

    &__text {
        font-size: 1rem;

        @include tablet {
            font-size: 1.5rem;
        }
    }

    &__jasonlist {
        list-style: none;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 35vw;
        padding: 0;
        overflow: hidden;
        object-position: bottom;
    }

    &__jasonpic {
        height: 35vw;
        position: relative;
        object-position: center;
        &--conan {
            z-index: 10;
            left: -15vw;
            bottom: -1rem;
            transform-origin: bottom right;
        }
        &--aquaman {
            z-index: 10;
            left: -20vw;
            bottom: -1rem;
            transform-origin: bottom center;
        }

        &--momoa {
            z-index: 35;
            left: -40vw;
            bottom: -1rem;
            transform-origin: bottom center;
        }
        &--drogo {
            z-index: 40;
            left: -60vw;
            bottom: -1rem;
            transform-origin: bottom center;
        }
        &--idaho {
            z-index: 45;
            left: -85vw;
            bottom: -1rem;
            transform-origin: bottom center;
        }
        &--voss {
            z-index: 50;
            left: -100vw;
            bottom: -1rem;
            transform-origin: bottom center;
        }
        &:hover {
            animation: shake 0.5s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }
}
