@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.siteheader {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0;
    padding: 0 0 1rem 0;

    background: $colour-surface;
    border-radius: $radius-card;
    box-shadow: $shadow-card;

    max-width: 50rem;

    border-radius: 0 0 1rem 1rem;

    &__top {
        min-height: 150px;
        padding: 1rem;

        @include breakpoint($breakpoint-tablet) {
            width: 80%;
            margin: 0 auto;
        }
    }

    &__heading {
        text-transform: uppercase;
        font-size: 3rem;
        font-family: $font-display;
        letter-spacing: 0.05em;
        margin-bottom: 0.5rem;
        @include breakpoint($breakpoint-tablet) {
            font-size: 4rem;
        }

        &--jason {
            color: $colour-accent;
        }
        &--ipsum {
            color: $colour-fg;
        }
    }

    &__text {
        font-size: 1.25rem;
        color: $colour-muted-fg;
        font-family: $font-body;
        margin-bottom: 1rem;
        @include breakpoint($breakpoint-tablet) {
            font-size: 1.5rem;
        }
    }
}
