@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/animations" as *;

.siteheader {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;

    &__top {
        height: 150px;
        padding: 1rem;

        @include tablet {
            width: 80%;
            margin: 0 auto;
        }
    }

    &__heading {
        color: $text-heading-warm;
        text-transform: uppercase;
        font-size: 1.5rem;

        @include tablet {
            font-size: 2rem;
        }
    }

    &__text {
        font-size: 1rem;

        @include tablet {
            font-size: 1.5rem;
        }
    }

    &__jasonlist {
        list-style: none;
        position: relative;
        width: 100%;
        height: 25vw;
        padding: 0;
        overflow: hidden;
    }

    &__jasonpic {
        height: 25vw;
        position: absolute;
        bottom: -1rem;
        object-position: center;
        object-fit: contain;
        left: 50%;
        transform: translateX(-50%);

        &:nth-child(1) {
            z-index: 10;
            left: 12%;
            transform-origin: bottom center;
        }
        &:nth-child(2) {
            z-index: 11;
            left: 28%;
            transform-origin: bottom center;
        }
        &:nth-child(3) {
            z-index: 12;
            left: 43%;
            transform-origin: bottom center;
        }
        &:nth-child(4) {
            z-index: 13;
            left: 58%;
            transform-origin: bottom center;
        }
        &:nth-child(5) {
            z-index: 14;
            left: 73%;
            transform-origin: bottom center;
        }

        &:nth-child(6) {
            z-index: 10;
            left: 86%;
            transform-origin: bottom center;
        }
        &:hover {
            animation: shake 0.5s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }
}
