@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.siteheader {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0;
    padding: 0 0 1rem 0;

    background: $surface-light;

    max-width: 50rem;

    border-radius: 0 0 1rem 1rem;

    &__top {
        min-height: 150px;
        padding: 1rem;

        @include tablet {
            width: 80%;
            margin: 0 auto;
        }
    }

    &__heading {
        color: $text-heading-warm;
        text-transform: uppercase;
        font-size: 1.5rem;

        @include tablet {
            font-size: 2rem;
        }
    }

    &__text {
        font-size: 1rem;

        @include tablet {
            font-size: 1.5rem;
        }
    }
}
