@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.sitefooter {
    width: 100%;
    padding: 1rem;

    @include tablet {
        width: 80%;
        margin: 0 auto;
    }
}
