@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.sitefooter {
    width: 80%;
    padding: 1rem;
    max-width: 50rem;
    background: $surface-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__text {
        margin: 0.25rem 0;

        &--small {
            font-size: 0.5rem;
        }
    }
}
